<br><br>
<p>
  You are receiving this email because you have enabled this notification type on Kit.
  If you would like to stop receiving this notification, you can edit your settings <%= link_to 'here', notification_settings_url %> after logging in.
</p>