/* Importing fonts from Google */
/* test */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Reseting */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #fff;
}

.container {
  width: 100vw;
}

.d-flex p {
  margin-top: 15px;
  margin-left: 10px;
}

.wrapper {
  width: 70%;
  height: auto;
  margin: auto;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 15px;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.logo img {
  width: 100%;
  height: auto;
  object-fit: fill;
}

.wrapper .name {
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 1.3px;
  padding-left: 10px;
  color: #01b58b;
  margin-top: 20px;
  text-align: center;
}

.wrapper .form-field input {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background: none;
  font-size: 1.2rem;
  color: #666;
  padding: 10px 15px 10px 10px;
  /* border: 1px solid red; */
}

.wrapper .form-field {
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
  color: #555;
}

.wrapper .btn {
  box-shadow: none;
  width: 20%;
  height: 40px;
  background-color: #01b58b;
  color: #fff;
  /* border-radius: 25px; */
  box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
  letter-spacing: 1.3px;
}

.wrapper .btn:hover {
  background-color: #039be5;
}

#forgotPassword {
  background-color: #666767;
  width: 40%;
  margin-top: 40px;
}

.wrapper a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #03a9f4;
}

.wrapper a:hover {
  color: #039be5;
}

form p {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}

@media (max-width: 380px) {
  .wrapper {
    margin: 30px 20px;
    padding: 40px 15px 15px 15px;
  }
}

.dropdown-menu {
  position: relative;
  right: 0;
}

.dropdown-item i {
  margin-right: 5px;
}

.progress-bar {
  background-color: #3279B7;
}

#singleGrade {
  background-color: #0EFF00;
}

.list-group-item {
  outline: 1px solid lightgrey;
  height: 48px;
  width: auto;
  box-sizing: border-box;
}

#student_classes_div {
    display: none;
}
